[submodule "dataflow_analysis"]
	path = dataflow_analysis
	url = https://github.com/sceptross/Dataflow_Analysis.git
[submodule "red_bingo"]
	path = red_bingo
	url = https://github.com/afonsocastro96/red_bingo
[submodule "crystal_rom_analyser"]
	path = crystal_rom_analyser
	url = https://github.com/afonsocastro96/crystal_rom_analyser
[submodule "crystal-exploration-bingo"]
	path = crystal-exploration-bingo
	url = https://github.com/afonsocastro96/crystal-exploration-bingo.git
